.mainPage{
    background-color: white;
    height: 40rem;
    width: 54rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 2rem;
}
p{
    font-size: 16px;
    width: 21rem;
}
.signUp{
    margin-left: 2rem;
}
.signUpImage{
    margin-left: 3.6rem;
}
.signUp>h1{
    font-size:3.4rem;
    font-weight: 700;
}
.subscriptionBtn{
   margin-top: 1.5rem;
   border-radius: 0.6rem;
   padding:0.8rem 3.5rem ;
   font-weight: 700;
}
.emailInput{
    margin-top: 0.4rem;
    padding:0.86rem 8.9rem 0.9rem 0.9rem;
    border-radius: 0.4rem;
    border:solid 1px hsl(231, 7%, 60%);
}
label{
    font-weight: 700;
}