.mainPage{
    background-color: white;
    height: 40rem;
    width: 54rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 2rem;
}
p{
    font-size: 16px;
    width: 21rem;
}
.signUp{
    margin-left: 2rem;
}
.signUpImage{
    margin-left: 3.6rem;
}
.signUp>h1{
    font-size:3.4rem;
    font-weight: 700;
}
.subscriptionBtn{
   margin-top: 1.5rem;
   border-radius: 0.6rem;
   padding:0.9rem 3.5rem ;
   font-weight: 700;
}
