.mainPage{
    background-color: white;
    height: 40rem;
    width: 54rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 2rem;
    color:  rgb(39, 39, 63);
}
.signUp>h1{
    margin-bottom: 1.4rem;
}
.join{
    font-size: 16px;
    width: 22rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
.signUp{
    margin-left: 2rem;
}
.signUpImage{
    margin-left: 3.6rem;
}
.signUp>h1{
    font-size:3.4rem;
    font-weight: 700;
}
.subscriptionBtn{
   margin: 1.2rem 0rem 2rem 0rem;
   border-radius: 0.5rem;
   border: none ;
   padding:1rem 4.1rem ;
   font-weight: 700;
   color: white;
   background-color: rgb(39, 39, 63) ;
}
.emailInput{
    margin-top: 0.4rem;
    padding:0.86rem 10rem 0.9rem 0.9rem;
    border-radius: 0.4rem;
    border:solid 1px hsl(231, 7%, 60%);
}
label{
    font-weight: 700;
}
form{
    margin-top: 2rem;
}
li{
    margin-top: 0.7rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}