.main{
    background-color: white;
    height: 21rem;
    width: 20rem;
    padding: 2rem;
    border-radius: 2rem;
    color:  rgb(39, 39, 63);
}
.main >h1,p{
    margin: 0;
}
.main> img{
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
}
.main> h1{
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.main> p{
    font-size: 0.78rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.dismissMessageBtn{
    width: 18rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(39, 39, 63);
}
.dismissMessageBtn:hover{
    cursor: pointer;
    background-color:hsl(4, 100%, 67%);
}