.main{
    background-color: white;
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 2rem;
    color:  rgb(39, 39, 63);
}