.mainPage{
    background-color: white;
    height: 40rem;
    width: 54rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 2rem;
    color:  rgb(39, 39, 63);
    padding-right: 0.8rem;
}
.signUp>h1{
    margin-bottom: 1.4rem;
}
.join{
    font-size: 16px;
    width: 22rem;
    margin-bottom: 2rem;
}
.signUp{
    margin-left: 2rem;
}
.signUpImage{
    margin-left: 3.6rem;
}
.signUp>h1{
    font-size:3.4rem;
    font-weight: 700;
}
.subscriptionBtn{
   margin: 1.2rem 0rem 2rem 0rem;
   border-radius: 0.5rem;
   border: none ;
   padding:1rem 4.1rem ;
   font-weight: 700;
   color: white;
   background-color: rgb(39, 39, 63);
}

.subscriptionBtn:hover{
    cursor: pointer;
    background-color:hsl(4, 100%, 67%);
    box-shadow: 0 20px 30px rgba(210, 108, 108, 0.3); 
}
.subscriptionBtn:active{
    background-color:hsl(3, 74%, 48%);
}
.emailInput{
    margin-top: 0.4rem;
    height: 2.85rem;
    width: 20rem;
    padding-left: 0.9rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    border:solid 1px hsl(231, 7%, 60%);
    margin-bottom: 0.4rem;
}
label{
    font-weight: 700;
}
form{
    margin-top: 2rem;
}
li{
    margin-top: 0.7rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.error-message{
    color: hsl(8, 75%, 57%);
}
.input-error{
    color: hsl(8, 75%, 57%);
    border: solid 2px  hsl(8, 86%, 67%);
    background-color: hsl(17, 74%, 91%);
}
.labelError{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:376px) {
    .signUpImage>img{
        width: 23.6rem;
    }
}
@media screen and (max-width:500px){
    .mainPage{
        flex-direction:column-reverse;
        margin-right: 3.6rem;
        height: 103vh;
        position: absolute;
        left:0rem;
        width: 20.8rem;
        padding-right: 3.9rem;
        border-radius: 0;
        top: 0rem;
        padding-bottom: 5rem;
    }
    .signUp{
        padding-left: 2rem;
        height: 22rem;
        position: relative;
        bottom: 5.5rem;
    }
    .join{
        font-size: 17px;
        width: 21.5rem;
        margin-bottom: 1.8rem;
        padding-left: 0.6rem;
        line-height: 1.5;
    }
    .signUpImage{
        height: 19.5rem;
        margin-left: 3.7rem;
        position: relative;
        bottom: 5.5rem;
    }
    .signUpImage>img{
        width: 24.9rem;
    }
    .signUp>h1{
        font-size:2.8rem;
        font-weight: 700;
        padding-left: 0.5rem;
        margin-bottom: 1.2rem;
    }
    li{
        font-size: 17px;
        width: 20rem;
        line-height: 1.5;
    }
    form{
        margin-top: 2.5rem;
    }
    .updateList> li>img{
        height: 1.4rem;
        width: 1.4rem;
    }
    label{
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 2px;
    }
    .emailInput{
        height: 3.5rem;
        padding-left: 1.2rem;
        width: 19rem;
    }
    .subscriptionBtn{
        margin: 1.2rem 0rem 2rem 0rem;
        padding:1.3rem 4.1rem ;
     }
}
