.main{
    background-color: white;
    height: 21.5rem;
    width: 20rem;
    padding: 1.7rem;
    border-radius: 2rem;
    color:  rgb(39, 39, 63);
}
.top >h1,p{
    margin: 0;
}
.top> img{
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
}
.top> h1{
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.top> p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
    line-height: 1.5;
}
.dismissMessageBtn{
    width: 19.6rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(39, 39, 63);
    font-size: 17px;
}
.dismissMessageBtn:hover{
    cursor: pointer;
    background-color:hsl(4, 100%, 67%);
    box-shadow: 0 20px 30px rgba(210, 108, 108, 0.3); 
}

@media screen and (max-width:414px) {
    .main{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0%
    }
    .top{
        margin-top: 4rem;
    }
    .top> img{
        height: 4rem;
        width: 4rem;
        margin-bottom: 2rem;
        font-weight: 700;
    }

    .top>p{
        font-size: 15px;
        width: 21rem;
        line-height: 1.8;
    }
    .dismissMessageBtn{
        margin-top: 4rem;

    }
}